.main {
  overflow: auto;
  flex: 1;
  padding: 0 10px;

  .table,
  tr,
  td,
  th {
    border-collapse: collapse;
  }

  td {
    border-top: 1px solid #414144;
  }

  .table {
    width: 100%;

    th {
      color: #a1a1aa;
      height: 40px;
    }
    td {
      height: 60px;
    }

    th,
    td {
      text-align: start;
      padding: 12px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.1px;
    }

    thead {
      tr {
        th:nth-child(1) {
          width: 110px;
        }
      }
    }

    tbody {
      tr {
        td:nth-child(1) {
          width: 110px;
        }
      }
    }
  }
}
