.level {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 3px 7px 3px 4px;

  &.hovered {
    border-radius: 6px;
    background-color: #414144;

    .item {
      &.delete {
        display: block;
      }
    }

    .hasChild {
      &:not(.first) {
        &::before {
          height: 59px;
        }
      }

      &::before {
        height: 44px;
      }

      &::after {
        width: 4px;
      }
    }
  }

  .item {
    cursor: pointer;
    img {
      display: block;
    }

    &.delete {
      display: none;
    }
  }

  .hasChild {
    position: absolute;
    bottom: 50%;
    left: -4px;

    &:not(.first) {
      &::before {
        height: 61px;
      }
    }

    &::before,
    &::after {
      display: block;
      content: ' ';
      background-color: #c6c6c6;
    }

    &::before {
      height: 51px;
      width: 1px;
    }

    &::after {
      width: 12px;
      height: 1px;
    }

    &[row-count] {
      &::before,
      &::after {
        background-color: red;
      }
    }
  }
}
