.level {
  position: relative;
  padding: 3px 7px 3px 4px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  background-color: #414144;

  .item {
    cursor: pointer;
    img {
      display: block;
    }
  }

  .hasChild {
    z-index: -1;
    position: absolute;
    bottom: 50%;
    left: -6px;

    &::before,
    &::after {
      display: block;
      content: ' ';
      background-color: #c6c6c6;
    }

    &::before {
      height: 55px;
      width: 1px;
    }

    &::after {
      width: 11px;
      height: 1px;
    }
  }
}
