.level {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 6px;

  &.active {
    border-radius: 6px;
    // padding: 3px 7px 3px 4px;
    background-color: #414144;
  }

  .item {
    cursor: pointer;
    img {
      display: block;
    }
  }

  .hasChild {
    z-index: -1;
    position: absolute;
    bottom: 50%;
    left: -8px;

    &:not(.first) {
      &::before {
        height: 61px;
      }
    }

    &::before,
    &::after {
      display: block;
      content: ' ';
      background-color: #c6c6c6;
    }

    &::before {
      height: 55px;
      width: 1px;
    }

    &::after {
      width: 12px;
      height: 1px;
    }

    &[row-count] {
      &::before,
      &::after {
        background-color: red;
      }
    }
  }
}
